---
layout: null
title: "十分现代化的电击搜索"
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2024-01-04
    changefreq: weekly
---

<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    <h2>请输入电梯编号:</h2>
    <input type="text" id="articleName" placeholder="请输入电击编号…">
    
    <button onclick="redirectToArticle()">搜索并跳转</button>

    <script>
        function redirectToArticle() {
            var articleName = document.getElementById("articleName").value
            var articleUrl = '/blog/' + encodeURIComponent(articleName);
            window.location.href = articleUrl;

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>